<div class="nav-section">
  <h4><i class="fab fa-python"></i> Python教程</h4>
  <ul class="nav-list">
    <li class="nav-item">
      <a href="{{ '/docs/python/01-basics' | relative_url }}" class="nav-link">
        <span class="nav-number">01</span>
        <span class="nav-title">Python基础入门</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="{{ '/docs/python/02-data-types' | relative_url }}" class="nav-link">
        <span class="nav-number">02</span>
        <span class="nav-title">数据类型与变量</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="{{ '/docs/python/03-control-flow' | relative_url }}" class="nav-link">
        <span class="nav-number">03</span>
        <span class="nav-title">控制流程</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="{{ '/docs/python/04-functions' | relative_url }}" class="nav-link">
        <span class="nav-number">04</span>
        <span class="nav-title">函数与模块</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="{{ '/docs/python/05-oop' | relative_url }}" class="nav-link">
        <span class="nav-number">05</span>
        <span class="nav-title">面向对象编程</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="{{ '/docs/python/06-common-modules' | relative_url }}" class="nav-link">
        <span class="nav-number">06</span>
        <span class="nav-title">常用模块</span>
      </a>
    </li>
  </ul>
</div>
